# Environnement virtuel
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
media/
staticfiles/

# Variables d'environnement
.env

# VS Code
.vscode/

# JetBrains
.idea/

# macOS
.DS_Store

# Logs
*.log

# Node
node_modules/

# Tailwind build (à adapter selon ton déploiement)
# static/css/output.css